.status-bar.simple {
  background-color: slategray;
}

.status-bar.simple button {
  background: gray;
}

.winner.simple {
  font-weight: 600;
  color: darkgreen;
}

.adraw.simple {
  font-weight: 600;
  color: maroon;
}
